.idea/dataSources.xml
media/xml/
.idea
.idea/
/static/js/spa
/gulp-static
.idea/*
*.idea/
*.idea
db.sqlite3
*.py[co]
*.pyc
.sass-cache
venv/
static-collect/
cache/
.DS_Store
data/
node_modules/
bower_components/